body{
    margin: 0;
    background-color:salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color:rgba(255,255,255,0.3);
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    padding:4px 3rem;
    text-align: center;
    border-radius:7px;
    min-width: 30vw;
    min-height:30vh;
}
input{
    width:90%;
    /* padding: 1rem; */
    background-color:rgba(255,255,255,.6);
    border-radius:4px;
    border: none;
    font-size: 16px;
    padding: 0.9rem 1rem;
    /* box-shadow:0px 5px 10px rgba(0,0,0,0.6); */
}
p{
    /* font-size: 0; */
    font-size:20px;
}
.meaning{
    display: none;
}
