body{
    background-image: linear-gradient(to left bottom,lightgreen,lightblue);
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color:rgba(255,255,255,.3);
    min-width: 50vw;
    /* min-height:30vh; */
    text-align: center;
    padding-bottom: 2rem;
    box-shadow:0px 5px 10px rgba(0,0,0,.5);
    padding: 1rem 6px;
    border-radius:8px;
}
.quote{
    font-size:1.2rem;
    font-weight:33px;
}
.author{
    text-align: center;
    font-style: italic;
    font-size:1rem;
    font-weight: 1px;
    padding-right:1rem;
    display:inline-block;
    text-shadow:0px 2px 10px rgba(255,255,255,.7);
}
.get{
    background-color: rgba(255,255,255,.3);
    border: none;
    padding:0.4rem 3rem;
    box-shadow: 0px 1px 10px rgba(0,0,0,.3);
    /* border: 1px solid white; */
    border-radius:3px;
    cursor: pointer;
}
